version: "3.9"

services:
  lb:
    build: ./lb
    container_name: lb
    depends_on:
      - web1
      - web2
      - web3
    ports:
      - "8080:80"   
      - "8443:443"  
    restart: unless-stopped

  web1:
    build: ./web1
    container_name: web1
    restart: unless-stopped

  web2:
    build: ./web2
    container_name: web2
    restart: unless-stopped

  web3:
    build: ./web3
    container_name: web3
    restart: unless-stopped